* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

#header {
    background-color: #FFF8F3;
}

.header-background {
    width: auto;
    float: left;
    padding: 20px;
}

.header-title {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    float: left;
    margin-right: 415px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    margin: 0 126px;
}

.menu {
    display: flex;
    align-items: center;
    float: right;
    margin-left: 100px;
}

li {
    list-style: none;
    margin-right: 50px;
}

li a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 25px;
}

.banner {
    padding: 30px 30px 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}

.banner-description {
    color: #757575;
    line-height: 30px;
    margin: 15px 0;
}

.profile-pic {
    width: 50%;
}

.background-right {
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 55%;
}

#main {
    max-width: 75%;
    margin: 0 auto;
}

.main-title {
    text-align: center;
}

.main-about {
    padding: 127px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-description {
    text-align: center;
    margin: 20px 0;
}

.main-info {
    text-align: center;
}

.main-what {
    padding-left: 100px;
    padding-right: 100px;
}

.box-container {
    display: flex;
    justify-content: space-around;
}

.box {
    width: 200px;
    /* height: 280px; */
    color: #0a0a0a;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);;
    padding: 15px;
}

.box-title {
    color: #181818;
    padding: 10px 0;
    font-size: 20px;
}

.box-description {
    padding-bottom: 10px;
}

.resume-container {
    margin: 130px 0;
}

.resume-summary {
    text-align: center;
}

.edex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box2{
    color: #0a0a0a;
    padding: 15px;
}